:root {
  --width: 50rem;
}

.img-container {
  /* width: 50rem; */
  width: var(--width);
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container img {
  width: 100%;
  height: 100%;
}
.btn-container {
  /* width: 50rem; */
  width: var(--width);
  display: flex;
  justify-content: space-between;
}
.btn-container button {
  width: 10rem;
}
